<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {{>styles}}

</head>
<body class="skin-blue">
{{>scripts}}
<div class="wrapper">
    {{>header}}

    {{>sidebar-business}}
    <div class="content-wrapper">
        {{{body}}}
    </div>

    {{>footer}}
    
</div>

</body>
</html>
