<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    
    <div class = "dashboard-section">
        <div class="row">
            <div class="col-md-12">
                <h1>User Statistics</h1>
            </div> 
        </div>
        <hr/> 
        
        <!-- first row user stats-->
        <div class="row">
            <!-- bounce rate-->
            <div class="col col-md-4" >
                <div class ="dashboard-data-block">
                    <h1>Bounce Rate</h1>
                    <span class="main-data">89%</span> <br/>
                    <span>
                         <span>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </span> 
                        <span> 3% </span>
                    </span>
                   
                    <br/>
                    <span>6 Week Avg:</span>
                    <span class="avg-data"> 90% </span>
                    <br/>
                    <span>Last updated at: 9:30</span>
                </div> <!-- end percent-block-->
            </div><!-- end col-->
            
            <!-- avg site time-->
            <div class="col col-md-4" >
                <div class ="dashboard-data-block">
                    <h1>Average Time Spent on Site (minutes)</h1>
                    <span class="main-data">89</span> <br/>
                    <span>
                         <span>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </span> 
                        <span> 3 </span>
                    </span>
                   
                    <br/>
                    <span>6 Week Avg:</span>
                    <span class="avg-data"> 45 </span>
                    <br/>
                    <span>Last updated at: 9:30</span>
                </div> <!-- end percent-block-->
            </div><!-- end col-->
            
            <!-- avg pages visited-->
            <div class="col col-md-4" >
                <div class ="dashboard-data-block">
                    <h1>Average # Pages per Visit</h1>
                    <span class="main-data">89</span> <br/>
                    <span>
                         <span>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </span> 
                        <span> 3 </span>
                    </span>
                   
                    <br/>
                    <span>6 Week Avg:</span>
                    <span class="avg-data"> 90 </span>
                    <br/>
                    <span>Last updated at: 9:30</span>
                </div> <!-- end percent-block-->
            </div><!-- end col-->
            
        </div> <!-- end row -->
        
        <!-- second row of user stats-->
        <div class="row">
            <div class ="col-md-8">
                <!-- new visitor line chart-->
                <div class="chart" >
                    <canvas id="new-visitors-chart" width="400" height="200px"></canvas>
                </div>
            </div> <!-- end col -->
            
            <!-- visitor occupation pie chart-->
            <div class="col-md-4">
                <div class="chart" >
                    <canvas id ="visitor-occupations-chart" width="400" height="400px"></canvas>
                </div>
            </div><!-- end col-->
        </div> <!-- end row-->

    </div> <!-- end container-->
    


    

</section>

<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!-- pie charts for visitor occupations-->
<script>
    var ctx = document.getElementById("visitor-occupations-chart").getContext('2d');
    var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: {
        labels: ["dentist", " hair dresser", "peter", "charly", "doctor"],
        datasets: [{
            label: '# of New Visitors',
            data: [12, 19, 3, 5, 2],
            fill: false,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
        
    },
    options: {
        title: {
            display: true,
            text: 'Visitor Occupations'
        },
        responsive: true,
        responsiveAnimationDuration: 2000,

    }  
});
    
</script>
<!-- line chart for new user visits-->
<script>
var ctx = document.getElementById("new-visitors-chart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["5/26", "5/27", "5/28", "5/29", "5/30"],
        datasets: [{
            label: '# of New Visitors',
            data: [12, 19, 3, 5, 2, 3],
            fill: false,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: 'New Visitors per Day'
        },
        responsive: true,
        responsiveAnimationDuration: 2000,
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: '# New Visitors'
                },
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<!-- end user line chart-->