@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Raleway');

/*New stylesheet for landing page*/
html, body {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 250px;
}

h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #34495e;
    font-weight: 700;

}

#h1Custom{
    color: #fff;
}

/*
    <h3> format for footer
*/
#format_Footer_h3{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #ffae00;
    font-weight: 400;

}

h4 {
    font-family: "Raleway", sans-serif;
    color: #34495e;
    font-weight: 400;
    line-height: 1.4;
}



.rowPadding{
    padding:20px;
}

section{
    padding: 50px 0;
}

#custom_hr{
    border-color: #ffae00;
    border-width: 3px;
    max-width: 75px;
}

#custom_hr2{
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 75px;
}
/*** Call to Action Butto***/
.call-to-action h2 {
    margin: 0 auto 20px;
}
.text-primary {
    color: #071C33;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.btn-default {
    color: #222222;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-default .badge {
    color: #ffffff;
    background-color: #222222;
}
.btn-primary {
    color: #ffffff;
    background-color: #1C1D22;
    border-color: #ffae00;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #72192D;
    border: none;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #72192D;
    border: none;
}
.btn-primary .badge {
    color: #071C33;
    background-color: #ffffff;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
}
::selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

/***Carousel***/
.carousel{
    background: #ffae00;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/***Footer***/
footer {
    color: white;
    font-family: "Karla", sans-serif;
    letter-spacing: 2px;
}
footer h3 {
    margin-bottom: 30px;
    font-weight: 700 !important;
    color: #A62A42 !important;

}
footer .footer-above {
    padding-top: 50px;
    background-color: #292528;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #1C1D22;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #545454 !important;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

footer a{
    color: #A62A42 !important;;
}

/********************* NavBar CSS **************************/
/*
    Editing Bootstrap navbar colors is very hacky.
*/
.navbar{
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #1C1D22;
    font-family: "Karla","Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: #555964;
    text-transform: uppercase;
}
.navbar-default .navbar-brand {
    height: 100px;
    font-size: 3rem;
    line-height: 65px;
    padding-left: 50px;
    color:  white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #656565;
}
.navbar-default .navbar-text {
    color: #312F38;
}
.navbar-default .navbar-nav > li > a {
    height: 100px;
    line-height: 65px;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #656565;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #656565 !important;
}
.navbar-default .navbar-toggle {
    border: none;
    height: 100px;
    line-height: 65px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #A62A42;

}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: gainsboro;
}
.navbar-default .navbar-link {
    color: #3498DB;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

/*get rid of scroll bar in collapse*/
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
@media (max-width: 767px) {
    
    .navbar-default .navbar-brand {
        line-height: 90px;
    }
    .navbar-default .navbar-nav > li > a {
        line-height: 90px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    }
    header{
    }
    header .header-content{
        left: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        top: 0 !important;
        height: 90vh !important;
        border-radius: 2% !important;
        position: relative;
        background: #292528 !important;
    }
    
    header .register_form{
        top: 100px !important;
        position: relative;
        margin-bottom: 10px !important;
    }
    .register_form h2{
        font-size: 2.75rem !important;
    }
    
    .register_form .sign1Btn {
        width: 252px !important;
    }
    
    .register_form .centerForm{
        width: 250px !important;
    }
    .register_form .centerForm:focus{
        background: #1C1D22 !important;
        border-color: #1C1D22 !important;
    }
}

.navbar-collapse, .navbar{
    border-bottom-color: gainsboro;
}

.navbar-landing-padding{
    margin-right: 5px;
}

/***Contact form***/
#contact_us{
    background: #F4F5F7 !important;
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
}
.btn-warning{
    background-color: #071C33;
}

.btn-warning:hover{
    color: #071C33;
    background-color: #fff;
}

.control-label{
    color: #fff;
}

.form-color{
}

.input-group-addon{
}

textarea.form-control {
    height: 100px;
}

/*** HEADER**/

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../images/lobby.jpg');
    text-align: center;
    color: white;
}
header .header-content {
    background: rgba(166, 42, 66, 0.9);
	border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 700px;
    height:700px;
	left: calc(50% - 350px);
}
header .header-content-inner{
    position: relative;
    top: 230px;
    
}
header .header-content .header-content-inner h1 {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 0;
    color: #fff;
    margin-bottom: 0;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
    max-width: none !important;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 2.4rem !important;
    margin-bottom: 50px;
    font-family: 'Karla', sans-serif;
}
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 32px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    header .header-content .header-content-inner h1 {
        font-size: 42px;
    }
}
/****OVERVIEW***/
#overview{
    background: #1C1D22;
    color: #656565;
    font-family: "Karla", sans-serif;
    font-size: 1.25em;
}

#overview h1{
    color: white;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 2px;
}

#overview h4{
    color: white;
    font-weight: 800;
    font-size: 20px;
}

#overview .text-center{
    margin-bottom: 80px;
}

#overview #custom_hr{
    border-color: #A62A42;
    max-width: 500px;
}
/***** Testimonials *****/
.testimonial {
    margin: 50px auto;
    background: #fff;
    padding: 20px 30px;
    color: #071C33;
    font-style: italic;
    width: 70%;
}
#testimonial_blk{
    background-color: #1C1D22;
}
.testimonial-container{
    max-width: 100%;
    overflow-x: hidden;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    margin-top: -50px;
    margin-left: 140px;
}

.testimonial-author {
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #071C33;
    font-size: 15px;
    text-align: left;
}

.testimonial-image {
    margin: 10px 0 0 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    text-align:left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

.testimonial-grey {
    background: #fff;
    color: #071C33;
}

.arrow-down-grey {
    border-top: 15px solid #fff;
}

.testimonial-author {
    font-size: 12px;
    color: #fff;
}

/*************** Pricing Charts (Landing Page) **************/
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}


.panel.price>.panel-heading{
}

.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background: #72192D;
    text-align: middle;
    font-size: 2.5rem;
}




.panel.price .btn{
   
    border:0px;
}

.price.panel-green>.panel-heading {
    color: #fff;
    background-color: #72192D;
}


.price.panel-green>.panel-body {
    color: #fff;
    background-color: #A62A42;
}


.price.panel-green>.panel-body .lead{
  
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    font-size: 24px;
}

.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #071C33;
    border-color: #071C33;
    border-bottom: 1px solid #071C33;
}


.price.panel-red>.panel-body {
    color: #fff;
    background-color: #092543;
}


.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    font-size: 24px;
}

#chartCheck {
    color: green;
    margin-right: 20px;
}

#chartX {
    color: #72192D;
    margin-right: 20px;
}
.list-group{
    color: #888a8c;
}

.btn-success {
    background-color: #ffae00;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #ffae00;
}

.btn-danger {
    background-color: #071C33;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #071C33;
}

.btn-success:hover {
    background-color: #ffae00;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #071C33;
    color: #ffffff;
}


/******** Login Page Form ****/
.form-control{
    margin: 0 auto;
    width: 300px;
    border:3px solid #071C33;
}

.control-label, .label{
    font-size: 18px;
}

.form-control:focus{
    border-color: #ffae00;
}

/**Invalid login information**/
.alert-danger {
    width: 50%;
    margin: 0 auto;
}

.login_form{
    display: block;
    position: relative;
    top: 35%;
    font-family: 'Karla', sans-serif;
    color: white;
}

/********************* Registration Page **************************/
.register_form{
    display: block;
    position: relative;
    top: 9%;
    font-family: 'Karla', sans-serif;
    color: white;
}

.register_form h2{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.register_form .sign1Btn, .login_form .btn{
    width: 302px;
    height: 52px;
    border-radius: 4px;
}

.centerForm::placeholder{
    color: white;
}

.centerForm{
    color: white !important;
    letter-spacing: 2px;
    margin: 0 auto;
    border: solid white 2px;
    background:none;
}

.centerForm:focus{
    background: #72192D;
    border: solid #72192D 2px;
    outline: none !important;
    box-shadow: none !important;
 
}

.centerForm {
    color: white !important;
    display: block;
    margin-bottom: 15px !important;s
    padding-left: 10px;
    height: 50px;
    width: 300px;
    border-radius: 2px;
   
}

.regTitleColor{
    color: #fff;
   
}

.custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#regis-container {
    margin-top: 20px;
    margin-bottom: 150px;
}

#form-separator {

}

#register-image {
    margin-left: 100px;
    margin-top: -10px;
    width:500px;
}

#contact_form .input {
	position: relative;
	z-index: 1 !important;
    display: block;
    left: calc(50% - 200px);
    margin: 60px 0px;
    width: 400px;
	vertical-align: top;
}

#contact_form  .input__field {
	position: relative;
	display: block;
	float: right;
	padding: 1.3em;
	border: none;
	border-radius: 0;
	color: #aaa;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

#contact_form .input__field:focus {
	outline: none;
}

#contact_form .input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 100%;
	color: #545454;
    font-family: "Karla", sans-serif !important;
    letter-spacing: 2px;
	font-weight: bold;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#contact_form .input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Individual styles */

/* Haruki */

.input--haruki {

}

.input__field--haruki {
	width: 100%;
	background: transparent;
	color: #AFB5BB;
	font-size: 1.55em;
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 4px;
	background: #545454;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}


/**** Mobile Only ****/
@media only screen and (max-device-width: 480px){
    p{
        font-size:24px;
    }

    .align-overview-mobile{
        text-align: left;
    }

    h4{
        text-align: left;
        font-size: 30px;
    }
    h3{
        font-size: 32px;
    }
    .btn{
        font-size: 30px !important;
    }
    .btn-x1{
        padding: 15px 30px !important;
    }

    .fa-5x {
        font-size: 7em;
    }
    

}