@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Raleway');

/*New stylesheet for landing page*/
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 250px;
}

h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #34495e;
    font-weight: 700;

}

#h1Custom{
    color: #357266;
}
#h1Custom1{
    color: #fff;
}

/*
    <h3> format for footer
*/
#format_Footer_h3{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #357266;
    font-weight: 400;
}

h4 {
    font-family: "Raleway", sans-serif;
    color: #34495e;
    font-weight: 400;
    line-height: 1.4;
}



.rowPadding{
    padding:20px;
}

section{
    padding: 50px 0;
}

#custom_hr{
    border-color: #0F5257;
    border-width: 3px;
    max-width: 75px;
}

#custom_hr2{
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 75px;
}
/*** Call to Action Butto***/
.call-to-action h2 {
    margin: 0 auto 20px;
}
.text-primary {
    color: #0F5257;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.btn-default {
    color: #222222;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-default .badge {
    color: #ffffff;
    background-color: #222222;
}
.btn-primary {
    color: #ffffff;
    background-color: #0E3B43;
    border-color: #0E3B43;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #022F40;
    border-color: #6ED1DE;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #0F5257;
    border-color: #0F5257;
}
.btn-primary .badge {
    color: #0F5257;
    background-color: #ffffff;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
}
::selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

/***Carousel***/
.carousel{
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/***Footer***/
footer {
    color: white;
    font-family: "Karla", sans-serif;
    letter-spacing: 2px;
}
footer h3 {
    margin-bottom: 30px;
    font-weight: 700 !important;
}
footer .footer-above {
    color:white;
    background-color: #1C1D22;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #0F5257;
    border-color: #0F5257;
}
footer .pattern-bg1 { 

background-color:#C5E0D8;

background-size:100px 50px;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #0F5257 !important;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

footer a{
    color: #357266;
}

/********************* NavBar CSS **************************/
/*
    Editing Bootstrap navbar colors is very hacky.
*/
.navbar{
    margin-bottom: 0px !important;
    position: relative; 
    
}

.navbar-default {
    height: 90px;
    line-height: 90px !important;
    background: url('images/backgrounds/topography.png');
    background-color: #3F7579;
    border-color: #0F5257;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 400;
    color: #FFF;
    text-transform: uppercase;
    
}
.navbar-default .navbar-brand {
   left-margin: 0;  
   top: 50%;    
   transform: translate(0%, 0) ;   
   color: #fff;
    
}

.navbar-brand img { 
    height: 50px;
    position: relative;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #656565;
}
.navbar-default .navbar-text {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    height: 90px;
    line-height: 60px;
    color: white;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #656565;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3F7579;
    border-bottom: none !important;
    height: 90px;
    outline: none !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0F5257;
}
.navbar-default .navbar-toggle {
    border: none !important;
    background-color: none !important;
 
    top: 20px;
    padding-top: none !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0F5257;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fff;
}
.navbar-default .navbar-link {
    color: #fff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

/*get rid of scroll bar in collapse*/
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
@media (max-width: 767px) {
    .navbar-collapse{
        margin-top: 35px;
        background: #3F7579;
        opacity: 1;
    }
    .navbar-default .navbar-brand {
        line-height: 90px;
    }
    .navbar-default .navbar-nav > li > a {
        line-height: 90px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #0F5257;
    }
    @media (min-width: 768px) {

     header {
         min-height: 100%;
     }
     header .header-content {
         position: absolute;
         top: 50%;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         padding: 0 50px;
     }
     header .header-content .header-content-inner {
         max-width: 1000px;
         margin-left: auto;
         margin-right: auto;
     }
     header .header-content .header-content-inner p {
         font-size: 32px;
         max-width: 80%;
         margin-left: auto;
         margin-right: auto;
     }
 
     header .header-content .header-content-inner h1 {
         font-size: 42px;
     }
 }
    .register_form h2{
        font-size: 2.75rem !important;
    }
    
    .register_form .sign1Btn {
        width: 252px !important;
    }
    
    .register_form .centerForm{
        padding-left: 10px !important;
        width: 250px !important;
    }
    .register_form .centerForm:focus{
        background: #1C1D22 !important;
        border-color: #1C1D22 !important;
    }
}

.navbar-collapse, .navbar{
    border-bottom-color: #fff;
}

.navbar-landing-padding{
    margin-right: 5px;
}

/***Contact form***/
#contact_us{
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
    color: white;
}

#contact_us h1{
    color: white;
}

#contact_form{
    margin: auto;
    padding: 20px;
    
}

#contact_form label{
    font-size: 23px;
    color: white;
}

#contact_form .btn{
    border-radius: 2px;
    height: 50px;
    width: 150px;
    font-family: "Karla", sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
}


#contact_form input, #contact_form textarea{
    min-height: 65px;
    font-size: 20px !important;
    font-family: "Karla", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 20px 20px;
    border: 3px solid #545454;
    background: none;
    color: white;

    
}

#contact_form input:focus, #contact_form textarea:focus{
    outline: none;
    box-shadow: none;
    border: 3px solid gainsboro;
}
.btn-warning{
    background-color: #0F5257;
}

.btn-warning:hover{
    color: #0F5257;
    background-color: #fff;
}

.control-label{
    color: #fff;
    text-shadow: 1px 0 #0F5257, 0 1px #0F5257, 1px 0 #0F5257, 0 1px #0F5257;
}

.form-color{
    border: 3px solid #0F5257 !important;
}

.input-group-addon{
    border: 3px solid #0F5257;
}

textarea.form-control {
    height: 100px;
}

/*** HEADER**/

header {
     position: relative;
     width: 100%;
     min-height: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     background-position: center;
     background-image: url('https://fthmb.tqn.com/YmVEs-1-qxo4JqSGTW0q2MuSYms=/2000x1333/filters:fill(auto,1)/about/receptionist_hotel-517791323-58a4ce485f9b58a3c95c1114.jpg');
     text-align: center;
     color: white;
 
 }
 .header-overlay { 
     position: absolute;
     width: 100%; height:100%;
     top:0; left:0;
     background:rgba(0,0,0,0.6);
     opacity: 1;
     transition: all 1s;
     -webkit-transition: all 1s;
     margin: 10px;
 
 }
 header .header-content {
     position: relative;
     text-align: center;
     padding: 100px 15px 100px;
     width: 100%;
 }
 header .header-content .header-content-inner h1 {
     font-weight: 700;
     text-transform: uppercase;
     margin-top: 0;
     color: #FFF;
     margin-bottom: 0;
     text-shadow: 2px 2px 0px #000;
 }
 header .header-content .header-content-inner hr {
     margin: 30px auto;
 }
 header .header-content .header-content-inner p {
     font-weight: 300;
     color: #FFFFFF;
     font-size: 16px;
     margin-bottom: 50px;
     text-shadow: 2px 2px 0px #000;
 }
 .header-content1 { 
     border-style: solid;
     border-color: white;
     border-width: 1px;
     border-radius: 5px;
 }
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 32px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    header .header-content .header-content-inner h1 {
        font-size: 42px;
    }
}
/****OVERVIEW***/
#overview{
    background: #fff;
    color: #656565;
    font-family: "Karla", sans-serif;
    font-size: 1.25em;
}

#overview h1{
    color: #1C1D22;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 2px;
}

#overview h4{
    color: #1C1D22;
    font-weight: 800;
    font-size: 20px;
}

#overview .text-center{
    margin-bottom: 80px;
}

#overview #custom_hr1{
    border-color: #A62A42;
    max-width: 500px;
}
/***** Testimonials *****/
.testimonial {
    margin: 50px auto;
    background: #fff;
    padding: 20px 30px;
    color: #0F5257;
    font-style: italic;
    width: 70%;
}
#testimonial_blk h1 {
    color: white;
}
#testimonial_blk{
    background-color: #1C1D22;
}
.testimonial-container{
    max-width: 100%;
    overflow-x: hidden;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    margin-top: -50px;
    margin-left: 140px;
}

.testimonial-author {
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F5257;
    font-size: 15px;
    text-align: left;
}

.testimonial-image {
    margin: 10px 0 0 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    text-align:left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

.testimonial-grey {
    background: #fff;
    color: #fff;
}

.arrow-down-grey {
    border-top: 15px solid #fff;
}

.testimonial-author {
    font-size: 12px;
    color: #fff;
}

/*************** Pricing Charts (Landing Page) **************/

#pricing{
    background: #F4F5F7;
}

.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}

.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}



.price .panel-footer {
    color: #fff;
    border-bottom:0px;

    text-align: middle;
    font-size: 2.5rem;
    background-color: #357266;
}
.panel-red .panel-footer { 
     background-color: #0E3B43;
}




.panel{
}
.price .panel-heading {
    color: #1C1D22;
    background: #E6E9EA;
}

.price .panel-body {
    color: #545454;
    padding: 30px 10px;
}
.price.panel-green>.panel-heading {
    color: #fff;
    background-color: #357266;
    border-color: #357266;
    border-bottom: 1px solid #439A86;
}


.price.panel-green>.panel-body {
    color: #fff;
    background-color: #439A86;
}


.price.panel-green>.panel-body .lead{
  
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    font-size: 24px;
}

.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
    border-bottom: 1px solid #0F5257;
}


.price.panel-red>.panel-body {
    color: #fff;
    background-color: #0F5257;
}


.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;

    font-size: 24px;
}


.faded {
    color: gainsboro !important;    
}
.btn-success {
    background-color: #439A86;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #6ED1DE;
}

.btn-danger {
    background-color: #3c8dbc;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #0F5257;
}

.btn-success:hover {
    background-color: #6ED1DE;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #0F5257;
    color: #ffffff;
}


/******** Login Page Form ****/
.form-control{
    margin: 0 auto;
    width: 300px;
    border:3px solid #022F40;
}

.form-control:focus{
    border-color: #8EDCE6;
}

/**Invalid login information**/
.alert-danger {
    width: 50%;
    margin: 0 auto;
}

.login_form{
    display: block;
    position: relative;
    top: 35%;
    font-family: 'Karla', sans-serif;
    color: white;
}

/********************* Registration Page **************************/
.register_form{
    display: block;
    position: relative;
    top: 9%;
    font-family: 'Karla', sans-serif;
    color: white;
}

.register_form h2{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.register_form .sign1Btn, .login_form .btn{
    width: 302px;
    height: 52px;
    border-radius: 4px;
}

.centerForm::placeholder{
    color: white;
}

.centerForm{
    color: white !important;
    letter-spacing: 2px;
    margin: 0 auto;
    border: solid white 2px;
    background:none;
}

.centerForm:focus{
    border: solid #fff 2px;
    outline: none !important;
    box-shadow: none !important;
}

.centerForm {
    color: white !important;
    display: block;
    margin-bottom: 15px !important;
    padding-left: 10px !important;
    height: 50px;
    width: 300px;
    border:3px solid #0F5257;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.regTitleColor{
    color: #fff;
    text-shadow: 1px 0 #0F5257, 0 1px #0F5257, 1px 0 #0F5257, 0 1px #0F5257;
}

.custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#regis-container {
    margin-top: 20px;
    margin-bottom: 150px;
}

#form-separator {

}

#register-image {
    margin-left: 100px;
    margin-top: -10px;
    width:500px;
}


/**** Mobile Only ****/
@media only screen and (max-device-width: 480px){
    p{
        font-size:24px;
    }

    .align-overview-mobile{
        text-align: left;
    }

    h4{
        text-align: left;
        font-size: 30px;
    }
    h3{
        font-size: 32px;
    }
    .btn{
        font-size: 30px !important;
    }
    .btn-x1{
        padding: 15px 30px !important;
    }

    .fa-5x {
        font-size: 7em;
    }
    

}